<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII ART</title>
    <!-- <link rel="stylesheet" href="/templates/styles.css">
    <script src="/templates/script.js"></script> -->
    <link rel="stylesheet" href="/templates/styles.css">
    <script src="/templates/script.js"></script>
</head>
<body>
    <div>
        <div class="bigtable">
         <table id="layoutGrid">
            <tbody class="layoutGridStyle">
                <tr>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <div class="head">ASCII ART</div>
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </td>
                </tr>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <form>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>
                                                        <input type="radio" id="standard" value="standard" name="banner" checked>
                                                        <label for="standard">Standard</label>
                                                    
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" id="shadow" value="shadow" name="banner">
                        <label for="shadow">Shadow</label>
                                                   
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <input type="radio" id="thinkertoy" value="thinkertoy" name="banner">
                                                    <label for="thinkertoy">Thinkertoy</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table>
                                </form>
                                <tr>
                                    <td>
                                        <button id="submit-btn" onclick="generateArt()">Generate</button>
                                    </td>
                                </tr>
                                    <tbody>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                 <form>
                                    <textarea class="resizable-textarea" id="text" placeholder="Type Here ..."></textarea>
                                </form>
                                           
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <pre id="ascii-art-result"></pre>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tbody>

        </table>
    </div>
    </div>
</body>
</html>
